@keyframes hover {
  0%{
    transform: translate3d(0,0px,0);
  }
  50% {
    transform: translate3d(0,20px,0);
  }
  100% {
    transform: translate3d(0,0px,0);
  }
}

@keyframes Disco {
    0% {filter: hue-rotate(0deg);}
    100% {filter: hue-rotate(359deg);}
}
