body,html{
  height: 100%;
  width: 100%;
  font-family: 'Source Code Pro', sans-serif;
}

h1,h2,h3,
h4,h5,h6{
  font-weight: normal;
  font-family: 'Slackey', cursive;
}

  h1{
    font-size: 4em;
  }

  h2{
    font-size: 3em;
  }

.container{
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
