.getting-started{
  position: relative;
  box-sizing: border-box;
  padding: 100px $gutter-width;
  min-height: 100%;
  background: #be66cc;
  background: linear-gradient(0deg,#be66cc,#CC668E);

  h2{
    font-size: 1em;
    color: inherit;
    font-family: inherit;
    margin: 0;
    padding: 0;
  }
}
