.splash{
  perspective: 2000px;
  display: flex;
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding: $gutter-width;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg,lighten(#f00, 20%),lighten(#00f, 20%));

  .tada{
    max-width: 100%;
  }
}

.cb__hover{
  max-width: 100%;
  animation: hover 5s infinite ease-in-out;
}

.cb__window--disco{
  animation-name: Disco;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.cb__window--rave{
  animation-name: Rave;
  animation-duration: 0.25s !important;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
