@charset "UTF-8";
/*
 *  Themes
 */
/*
 *  General
 */
/*
 *  Decorative Buttons
 */
/*
 *  Border
 */
/*
 *  Window
 */
/*
 *  Tabs
 */
/*
 *  nav
 */
/*
 *  Body
 */
.cb__window {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 800px;
  max-width: 100%;
  background: #ddd;
  border: 1px solid #d5d5d5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.cb__decorative-buttons {
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  padding: 0px 0.5%;
  width: 60px;
  font-size: 0; }

.cb__close,
.cb__minify,
.cb__fullscreen {
  position: relative;
  display: inline-block;
  width: 33.3333%;
  height: 35px;
  line-height: 35px;
  text-align: center; }
  .cb__close:before,
  .cb__minify:before,
  .cb__fullscreen:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 50%;
    width: 50%;
    border-radius: 50%;
    border: 1px solid #aaa;
    background: #ccc;
    -webkit-transition: all 0.4s;
    transition: all 0.4s; }

.cb__close:before {
  border: 1px solid #d43f3a;
  background: #d9534f; }

.cb__close:hover::before {
  border-color: #dd6864;
  background: #e27c79; }

.cb__minify:before {
  border: 1px solid #eea236;
  background: #f0ad4e; }

.cb__minify:hover::before {
  border-color: #f2b865;
  background: #f4c37d; }

.cb__fullscreen:before {
  border: 1px solid #4cae4c;
  background: #5cb85c; }

.cb__fullscreen:hover::before {
  border-color: #6ebf6e;
  background: #80c780; }

.cb__tabs {
  position: relative;
  box-sizing: border-box;
  padding-top: 5.25px;
  padding-left: 60px;
  height: 35px;
  width: 100%;
  font-size: 0px; }
  .cb__tabs:before {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    box-shadow: inset 0 -1px 0px 0px #bcbcbc; }

.cb__tab {
  position: relative;
  display: inline-block;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
  box-sizing: border-box;
  text-align: center;
  min-width: 10%;
  padding: 0px 10px;
  margin: 0px 1px;
  height: 39.75px;
  line-height: 29.75px;
  font-size: 12px;
  text-decoration: none;
  color: #333333;
  background: #ddd;
  border: 1px solid #bcbcbc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none; }
  .cb__tab:hover {
    background: #f7f7f7; }
  .cb__tab--current, .cb__tab--current:hover {
    z-index: 1;
    background: #ddd; }

.cb__buttons {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  padding: 0 1%;
  width: 100px;
  height: 41px;
  font-size: 0; }

.cb__back,
.cb__forward,
.cb__refresh {
  display: inline-block;
  height: 41px;
  width: 33.3333%;
  line-height: 41px;
  text-decoration: none;
  font-size: 22.5px;
  text-align: center;
  color: #333333;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }
  .cb__back:before,
  .cb__forward:before,
  .cb__refresh:before {
    display: inline-block;
    vertical-align: top; }

.cb__back:before {
  content: "‹"; }

.cb__forward:before {
  content: "›"; }

.cb__refresh:before {
  content: "↻";
  font-size: 0.75em;
  vertical-align: baseline;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

.cb__address {
  box-sizing: border-box;
  -webkit-appearance: none;
  margin-top: 4.5px;
  padding: 0px 5px;
  width: 100%;
  height: 32px;
  font-size: 12px;
  border: 1px solid #bcbcbc;
  color: #333333;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px; }

.cb__nav {
  position: relative;
  z-index: 10;
  box-sizing: border-box;
  padding-left: 100px;
  padding-right: 3.5px;
  height: 42px;
  background: #ddd;
  border-bottom: 1px solid #bcbcbc; }

.cb__header {
  position: relative;
  width: 100%; }

.cb__body {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }
  .cb__body:before {
    content: '';
    position: relative;
    display: block;
    padding-bottom: 66.66667%;
    width: 100%; }

.cb__content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .cb__content > div {
    display: none; }
    .cb__content > div:first-child {
      display: block; }
  .cb__content--scrollable {
    overflow-y: scroll;
    box-sizing: border-box;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
                -ms-grid-row-align: baseline;
            align-items: baseline; }

.cb__body--no-height {
  display: block; }
  .cb__body--no-height .cb__content {
    display: block;
    position: relative; }
  .cb__body--no-height:before {
    display: none; }

.cb__window.cb__window--green {
  background-color: #a8cd47;
  border-color: #a8cd47; }
  .cb__window.cb__window--green .cb__address {
    color: #fff;
    background: #7d9d2a;
    border: 1px solid #a8cd47; }
  .cb__window.cb__window--green .cb__tab,
  .cb__window.cb__window--green .cb__back, .cb__window.cb__window--green .cb__forward, .cb__window.cb__window--green .cb__refresh {
    color: #7d9d2a;
    border: none; }
  .cb__window.cb__window--green .cb__tabs:before {
    box-shadow: inset 0 -1px 0px 0px #a8cd47; }
  .cb__window.cb__window--green .cb__tab {
    background: #f2f2f2; }
    .cb__window.cb__window--green .cb__tab--current, .cb__window.cb__window--green .cb__tab:hover {
      background: #fff; }
  .cb__window.cb__window--green .cb__nav {
    background: #fff;
    border-color: #a8cd47; }
  .cb__window.cb__window--green .cb__close:before, .cb__window.cb__window--green .cb__minify:before,
  .cb__window.cb__window--green .cb__fullscreen:before {
    border-color: #7d9d2a;
    background: #a8cd47; }
  .cb__window.cb__window--green .cb__body {
    color: #7d9d2a; }
  .cb__window.cb__window--green *::-moz-selection {
    background: #7d9d2a !important;
    color: #fff !important; }
  .cb__window.cb__window--green *::selection {
    background: #7d9d2a !important;
    color: #fff !important; }
  .cb__window.cb__window--green *::-moz-selection {
    background: #7d9d2a !important;
    color: #fff !important; }
  .cb__window.cb__window--green *::-webkit-selection {
    background: #7d9d2a !important;
    color: #fff !important; }

.cb__window.cb__window--blue {
  background-color: #94beda;
  border-color: #94beda; }
  .cb__window.cb__window--blue .cb__address {
    color: #fff;
    background: #5b9cc7;
    border: 1px solid #94beda; }
  .cb__window.cb__window--blue .cb__tab,
  .cb__window.cb__window--blue .cb__back, .cb__window.cb__window--blue .cb__forward, .cb__window.cb__window--blue .cb__refresh {
    color: #5b9cc7;
    border: none; }
  .cb__window.cb__window--blue .cb__tabs:before {
    box-shadow: inset 0 -1px 0px 0px #94beda; }
  .cb__window.cb__window--blue .cb__tab {
    background: #f2f2f2; }
    .cb__window.cb__window--blue .cb__tab--current, .cb__window.cb__window--blue .cb__tab:hover {
      background: #fff; }
  .cb__window.cb__window--blue .cb__nav {
    background: #fff;
    border-color: #94beda; }
  .cb__window.cb__window--blue .cb__close:before, .cb__window.cb__window--blue .cb__minify:before,
  .cb__window.cb__window--blue .cb__fullscreen:before {
    border-color: #5b9cc7;
    background: #94beda; }
  .cb__window.cb__window--blue .cb__body {
    color: #5b9cc7; }
  .cb__window.cb__window--blue *::-moz-selection {
    background: #5b9cc7 !important;
    color: #fff !important; }
  .cb__window.cb__window--blue *::selection {
    background: #5b9cc7 !important;
    color: #fff !important; }
  .cb__window.cb__window--blue *::-moz-selection {
    background: #5b9cc7 !important;
    color: #fff !important; }
  .cb__window.cb__window--blue *::-webkit-selection {
    background: #5b9cc7 !important;
    color: #fff !important; }

.cb__window.cb__window--orange {
  background-color: #ffa361;
  border-color: #ffa361; }
  .cb__window.cb__window--orange .cb__address {
    color: #fff;
    background: #ff7715;
    border: 1px solid #ffa361; }
  .cb__window.cb__window--orange .cb__tab,
  .cb__window.cb__window--orange .cb__back, .cb__window.cb__window--orange .cb__forward, .cb__window.cb__window--orange .cb__refresh {
    color: #ff7715;
    border: none; }
  .cb__window.cb__window--orange .cb__tabs:before {
    box-shadow: inset 0 -1px 0px 0px #ffa361; }
  .cb__window.cb__window--orange .cb__tab {
    background: #f2f2f2; }
    .cb__window.cb__window--orange .cb__tab--current, .cb__window.cb__window--orange .cb__tab:hover {
      background: #fff; }
  .cb__window.cb__window--orange .cb__nav {
    background: #fff;
    border-color: #ffa361; }
  .cb__window.cb__window--orange .cb__close:before, .cb__window.cb__window--orange .cb__minify:before,
  .cb__window.cb__window--orange .cb__fullscreen:before {
    border-color: #ff7715;
    background: #ffa361; }
  .cb__window.cb__window--orange .cb__body {
    color: #ff7715; }
  .cb__window.cb__window--orange *::-moz-selection {
    background: #ff7715 !important;
    color: #fff !important; }
  .cb__window.cb__window--orange *::selection {
    background: #ff7715 !important;
    color: #fff !important; }
  .cb__window.cb__window--orange *::-moz-selection {
    background: #ff7715 !important;
    color: #fff !important; }
  .cb__window.cb__window--orange *::-webkit-selection {
    background: #ff7715 !important;
    color: #fff !important; }

.cb__window.cb__window--purple {
  background-color: #ccb3e6;
  border-color: #ccb3e6; }
  .cb__window.cb__window--purple .cb__address {
    color: #fff;
    background: #a679d2;
    border: 1px solid #ccb3e6; }
  .cb__window.cb__window--purple .cb__tab,
  .cb__window.cb__window--purple .cb__back, .cb__window.cb__window--purple .cb__forward, .cb__window.cb__window--purple .cb__refresh {
    color: #a679d2;
    border: none; }
  .cb__window.cb__window--purple .cb__tabs:before {
    box-shadow: inset 0 -1px 0px 0px #ccb3e6; }
  .cb__window.cb__window--purple .cb__tab {
    background: #f2f2f2; }
    .cb__window.cb__window--purple .cb__tab--current, .cb__window.cb__window--purple .cb__tab:hover {
      background: #fff; }
  .cb__window.cb__window--purple .cb__nav {
    background: #fff;
    border-color: #ccb3e6; }
  .cb__window.cb__window--purple .cb__close:before, .cb__window.cb__window--purple .cb__minify:before,
  .cb__window.cb__window--purple .cb__fullscreen:before {
    border-color: #a679d2;
    background: #ccb3e6; }
  .cb__window.cb__window--purple .cb__body {
    color: #a679d2; }
  .cb__window.cb__window--purple *::-moz-selection {
    background: #a679d2 !important;
    color: #fff !important; }
  .cb__window.cb__window--purple *::selection {
    background: #a679d2 !important;
    color: #fff !important; }
  .cb__window.cb__window--purple *::-moz-selection {
    background: #a679d2 !important;
    color: #fff !important; }
  .cb__window.cb__window--purple *::-webkit-selection {
    background: #a679d2 !important;
    color: #fff !important; }
