body, html {
  height: 100%;
  width: 100%;
  font-family: 'Source Code Pro', sans-serif; }

h1, h2, h3,
h4, h5, h6 {
  font-weight: normal;
  font-family: 'Slackey', cursive; }

h1 {
  font-size: 4em; }

h2 {
  font-size: 3em; }

.container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto; }

.content-inner {
  padding: 20px; }

.splash {
  -webkit-perspective: 2000px;
          perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-linear-gradient(45deg, #be66cc, #CC668E);
  background: linear-gradient(45deg, #be66cc, #CC668E); }
  .splash .cb__content {
    text-align: center;
    overflow: hidden; }
    .splash .cb__content h1 {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      margin: 0 0 20px;
      font-size: 0;
      height: 60px;
      white-space: nowrap; }
      .splash .cb__content h1 span {
        display: inline-block;
        font-size: 120px; }
      .splash .cb__content h1 .h--1 {
        color: #be66cc; }
      .splash .cb__content h1 .h--2 {
        color: #cc66b4; }
      .splash .cb__content h1 .h--3 {
        color: #cc668e; }
      .splash .cb__content h1 .h--4 {
        color: #cc6668; }
      .splash .cb__content h1 .h--5 {
        color: #cc8b66; }
      .splash .cb__content h1 .h--6 {
        color: #ccb166; }
      .splash .cb__content h1 .h--7 {
        color: #c1cc66; }
      .splash .cb__content h1 .h--8 {
        color: #9bcc66; }
      .splash .cb__content h1 .h--9 {
        color: #74cc66; }
      .splash .cb__content h1 .h--10 {
        color: #66cc7e; }
      .splash .cb__content h1 .h--11 {
        color: #66cca4; }
      .splash .cb__content h1 .h--12 {
        color: #66ccca; }
    .splash .cb__content p {
      line-height: 1.2em;
      color: #9966CC;
      display: inline-block;
      max-width: 800px;
      font-size: 2em;
      -webkit-transform: scale(0.5);
              transform: scale(0.5); }
  .splash .tada {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    max-width: 100%; }

.cb__hover {
  max-width: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: hover 5s infinite ease-in-out;
          animation: hover 5s infinite ease-in-out; }

.cb__window--default p {
  line-height: 1.2em;
  color: #bf66cc;
  display: inline-block;
  max-width: 400px; }

.cb__window--disco {
  -webkit-animation-name: Disco;
          animation-name: Disco;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear; }

.cb__window--explode {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }
  .cb__window--explode .cb__header {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform: translateZ(50px) translateY(20px);
            transform: translateZ(50px) translateY(20px);
    -webkit-transition: -webkit-transform 0.25s;
    transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
    transition: transform 0.25s, -webkit-transform 0.25s; }
  .cb__window--explode .cb__body {
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: translateZ(1px) rotateX(10deg);
            transform: translateZ(1px) rotateX(10deg);
    -webkit-transition: -webkit-transform 0.25s;
    transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
    transition: transform 0.25s, -webkit-transform 0.25s; }
  .cb__window--explode .cb__decorative-buttons {
    -webkit-transform: translateZ(10px);
            transform: translateZ(10px); }
  .cb__window--explode .cb__tabs {
    -webkit-perspective: 2000px;
            perspective: 2000px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform: translateZ(9.9px);
            transform: translateZ(9.9px);
    -webkit-transition: -webkit-transform 0.25s;
    transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
    transition: transform 0.25s, -webkit-transform 0.25s; }
    .cb__window--explode .cb__tabs:before {
      -webkit-transform: translateZ(-0.1px);
              transform: translateZ(-0.1px); }
    .cb__window--explode .cb__tabs .cb__tab {
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
      -webkit-transform: translateZ(-20px);
              transform: translateZ(-20px);
      -webkit-animation-fill-mode: backwards;
              animation-fill-mode: backwards; }
      .cb__window--explode .cb__tabs .cb__tab--current {
        -webkit-transform: translateZ(0px);
                transform: translateZ(0px); }
  .cb__window--explode .cb__buttons {
    -webkit-perspective: 2000px;
            perspective: 2000px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform: translateZ(20px) translateY(10px) translateX(10px);
            transform: translateZ(20px) translateY(10px) translateX(10px);
    -webkit-transition: -webkit-transform 0.25s;
    transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
    transition: transform 0.25s, -webkit-transform 0.25s; }
  .cb__window--explode .cb__nav {
    -webkit-perspective: 2000px;
            perspective: 2000px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform: translateZ(10px);
            transform: translateZ(10px);
    -webkit-transition: -webkit-transform 0.25s;
    transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
    transition: transform 0.25s, -webkit-transform 0.25s; }
    .cb__window--explode .cb__nav .cb__addresscontainer {
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
      -webkit-animation-fill-mode: backwards;
              animation-fill-mode: backwards;
      -webkit-transform: translateZ(20px) translateY(10px) translateX(10px);
              transform: translateZ(20px) translateY(10px) translateX(10px);
      -webkit-transition: -webkit-transform 0.25s;
      transition: -webkit-transform 0.25s;
      transition: transform 0.25s;
      transition: transform 0.25s, -webkit-transform 0.25s; }

.animated-delay-1 {
  -webkit-animation-delay: 0.125s;
          animation-delay: 0.125s; }

.animated-delay-2 {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s; }

.animated-delay-3 {
  -webkit-animation-delay: 0.375s;
          animation-delay: 0.375s; }

.animated-delay-4 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s; }

.animated-delay-5 {
  -webkit-animation-delay: 0.625s;
          animation-delay: 0.625s; }

.animated-delay-6 {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s; }

.animated-delay-7 {
  -webkit-animation-delay: 0.875s;
          animation-delay: 0.875s; }

.animated-delay-8 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }

.animated-delay-9 {
  -webkit-animation-delay: 1.125s;
          animation-delay: 1.125s; }

.animated-delay-10 {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s; }

.animated-delay-11 {
  -webkit-animation-delay: 1.375s;
          animation-delay: 1.375s; }

.animated-delay-12 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s; }

.animated-delay-13 {
  -webkit-animation-delay: 1.625s;
          animation-delay: 1.625s; }

.animated-delay-14 {
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s; }

.animated-delay-15 {
  -webkit-animation-delay: 1.875s;
          animation-delay: 1.875s; }

.animated-delay-16 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s; }

.animated-delay-17 {
  -webkit-animation-delay: 2.125s;
          animation-delay: 2.125s; }

.animated-delay-18 {
  -webkit-animation-delay: 2.25s;
          animation-delay: 2.25s; }

.animated-delay-19 {
  -webkit-animation-delay: 2.375s;
          animation-delay: 2.375s; }

.animated-delay-20 {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s; }

.animated-delay-21 {
  -webkit-animation-delay: 2.625s;
          animation-delay: 2.625s; }

.animated-delay-22 {
  -webkit-animation-delay: 2.75s;
          animation-delay: 2.75s; }

.animated-delay-23 {
  -webkit-animation-delay: 2.875s;
          animation-delay: 2.875s; }

.animated-delay-24 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s; }

.animated-delay-25 {
  -webkit-animation-delay: 3.125s;
          animation-delay: 3.125s; }

.animated-delay-26 {
  -webkit-animation-delay: 3.25s;
          animation-delay: 3.25s; }

.animated-delay-27 {
  -webkit-animation-delay: 3.375s;
          animation-delay: 3.375s; }

.animated-delay-28 {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s; }

.animated-delay-29 {
  -webkit-animation-delay: 3.625s;
          animation-delay: 3.625s; }

.animated-delay-30 {
  -webkit-animation-delay: 3.75s;
          animation-delay: 3.75s; }

.animated-delay-31 {
  -webkit-animation-delay: 3.875s;
          animation-delay: 3.875s; }

.animated-delay-32 {
  -webkit-animation-delay: 4s;
          animation-delay: 4s; }

.animated-delay-33 {
  -webkit-animation-delay: 4.125s;
          animation-delay: 4.125s; }

.animated-delay-34 {
  -webkit-animation-delay: 4.25s;
          animation-delay: 4.25s; }

.animated-delay-35 {
  -webkit-animation-delay: 4.375s;
          animation-delay: 4.375s; }

.animated-delay-36 {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s; }

.animated-delay-37 {
  -webkit-animation-delay: 4.625s;
          animation-delay: 4.625s; }

.animated-delay-38 {
  -webkit-animation-delay: 4.75s;
          animation-delay: 4.75s; }

.animated-delay-39 {
  -webkit-animation-delay: 4.875s;
          animation-delay: 4.875s; }

.animated-delay-40 {
  -webkit-animation-delay: 5s;
          animation-delay: 5s; }

@-webkit-keyframes hover {
  0% {
    -webkit-transform: translate3d(0, 0px, 0);
            transform: translate3d(0, 0px, 0); }
  50% {
    -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0); }
  100% {
    -webkit-transform: translate3d(0, 0px, 0);
            transform: translate3d(0, 0px, 0); } }

@keyframes hover {
  0% {
    -webkit-transform: translate3d(0, 0px, 0);
            transform: translate3d(0, 0px, 0); }
  50% {
    -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0); }
  100% {
    -webkit-transform: translate3d(0, 0px, 0);
            transform: translate3d(0, 0px, 0); } }

@-webkit-keyframes Disco {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg); }
  100% {
    -webkit-filter: hue-rotate(359deg);
            filter: hue-rotate(359deg); } }

@keyframes Disco {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg); }
  100% {
    -webkit-filter: hue-rotate(359deg);
            filter: hue-rotate(359deg); } }

.cb__exploded {
  max-width: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 2000px;
          perspective: 2000px; }

/* http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+css+clike+javascript */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #66ccca;
  background: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #fff; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #ccc; }

.token.punctuation {
  color: #66ccca; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #cc8b66; }

.token.boolean,
.token.number {
  color: #ae81ff; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #9bcc66; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2; }

.token.atrule,
.token.attr-value,
.token.function {
  color: #be66cc; }

.token.keyword {
  color: #66d9ef; }

.token.regex,
.token.important {
  color: #fd971f; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

.getting-started {
  position: relative;
  box-sizing: border-box;
  padding: 100px 20px;
  min-height: 100%;
  background: #be66cc;
  background: -webkit-linear-gradient(315deg, #be66cc, #CC668E);
  background: linear-gradient(135deg, #be66cc, #CC668E); }
  .getting-started h2 {
    font-size: 1em;
    color: inherit;
    font-family: inherit;
    margin: 0;
    padding: 0; }
