.cb__address{
  box-sizing: border-box;
  -webkit-appearance: none;
  margin-top: ($cb-nav-height - $cb-nav-address-height)/2;
  padding: 0px 5px;
  width: 100%;
  height: $cb-nav-address-height;
  font-size: $cb-font-size * 0.8;
  border: $cb-border-size solid darken($cb-border-color, 10%);
  color: $cb-font-color;
  border-top-left-radius: min($cb-border-top-left-radius,2px);
  border-top-right-radius: min($cb-border-top-right-radius,2px);
  border-bottom-left-radius: min($cb-border-bottom-left-radius,2px);
  border-bottom-right-radius: min($cb-border-bottom-right-radius,2px);
}
