.cb__body{
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: $cb-body-background;
  border-bottom-left-radius: $cb-border-bottom-left-radius;
  border-bottom-right-radius: $cb-border-bottom-right-radius;

  &:before{
    content: '';
    position: relative;
    display: block;
    padding-bottom: $cb-body-aspect+%;
    width: 100%;
  }
}

  .cb__content{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    > div {
      display: none;

      &:first-child{
        display: block;
      }
    }

    &--scrollable{
      overflow-y: scroll;
      box-sizing: border-box;
      justify-content: flex-start;
      align-items: baseline;
    }
  }


.cb__body--no-height{
  display: block;

  .cb__content{
    display: block;
    position: relative;
  }

  &:before{
    display: none;
  }
}
