@import './nav-buttons';
@import './address-bar';

.cb__nav{
  position: relative;
  z-index: 10;
  box-sizing: border-box;
  padding-left: $cb-nav-buttons-width;
  padding-right: ($cb-nav-height - $cb-nav-address-height)/2 - $cb-border-size;
  height: $cb-nav-height+1;
  background: $cb-background-color;
  border-bottom: $cb-border-size solid darken($cb-border-color, 10%);
}
