.cb__nav{
  position: relative;
  z-index: 10;
  box-sizing: border-box;
  padding-left: 100px;
  padding-right: 2px;
  height: $cb-nav-height;
  background: $cb-background-color;
}

.cb__buttons{
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  padding: 0 1%;
  width: 100px;
  height: $cb-nav-height;
  font-size: 0;
}

  .cb__back,
  .cb__forward,
  .cb__refresh{
    display: inline-block;
    height: $cb-nav-height;
    width: 33.3333%;
    line-height: $cb-nav-height;
    text-decoration: none;
    font-size: $cb-font-size;
    text-align: center;
    color: $cb-font-color;

    &:before{
      display: inline-block;
      vertical-align: middle;
    }
  }

  .cb__back:before{
    content: '\2190';
  }

  .cb__forward:before{
    content: '\2192';
  }

  .cb__refresh:before{
    content: '\21bb';
    transform: rotate(90deg);
  }

.cb__address{
  box-sizing: border-box;
  -webkit-appearance: none;
  margin-top: 2px;
  padding: 0px 5px;
  width: 100%;
  height: $cb-nav-height - 4px;
  font-size: 0.8em;
  border: none;
  color: $cb-font-color;
  border-top-left-radius: min($cb-border-top-left-radius,2px);
  border-top-right-radius: min($cb-border-top-right-radius,2px);
  border-bottom-left-radius: min($cb-border-bottom-left-radius,2px);
  border-bottom-right-radius: min($cb-border-bottom-right-radius,2px);
}
